 <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="min-height:120px;">
					<h2>Cart Page</h2>

				</div>
            </div>
            <div class="row">
                <div class="col-md-12">
					<div class="table-responsive cart-div">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Perticulars</th>
                                            <th> Code</th>
                                            <th>Qty.</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in cart">
                                            <td>{{$index}}</td>
                                            <td>{{item.name}}</td>
                                            <td>#{{item.id}}</td>
                                            <td>{{item.count}}</td>
                                            <td>{{item.price | currency}}</td>
                                             <td>{{item.price*item.count | currency}}</td>
                                             <td>
                                              <a href class="btn btn-danger"  ng-click="removeItem(item)"> <span class="glyphicon glyphicon-trash" ></span> Remove</a>   

                                             </td>
                                        </tr>
                                        <tr class="cart-footer">
                                            <td colspan="4" >
												
												 <!--there are total 7 columns in a row and we divided it in to 4 & 3 by using colspan for the botttom tr-->
												<div class="cart-total ">
												<strong ng-show="couponApplied"> Disccount: {{disccount}}%</strong>
												<strong>   Total Billing Amout : {{total-total*disccount/100 | currency}} </strong> <br />
												

													<hr />
												</div>
												<div ng-hide="couponApplied">
													<input type="text" class="form-control" style="width:120px;" placeholder="Enter Coupon" ng-model="coupon"/>
												    <small class="text-muted" >(apply Coupon if you have any )</small>
													<br /> <br />
													<a href ng-click="applyCoupon()" class="btn btn-warning" > <span class="glyphicon glyphicon-ok" ></span> Apply Coupon  </a>													
													<hr /> 
                                               </div>
                                            </td>
                                             <td colspan="3" >
                                                     <h4>Terms & Conditions : </h4>
                                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                                 <div class="checkbox">
													<label>
													  <input type="checkbox" ng-model="approve"> I Agree to the terms .
													</label>
												  </div>
                                                 <hr />
                                                  <a href="#/products" class="btn btn-info" > <span class="glyphicon glyphicon-shopping-cart" ></span> CONTINUE SHOPPING </a>

                                                <a href class="btn btn-success" ng-click="checkout()"> <span class="glyphicon glyphicon-share-alt" ></span> CHECKOUT </a>
											 </td>
									</tr>
								</tbody>
							</table>
					</div>
                    <!--CART DIV END-->
                </div>
            </div>
 </div>